@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100vh;
}

aside{
    display: flex;
    flex-direction: column;

    width: 45%;
    height: 100vh;
    background:linear-gradient(180deg, rgba(0,91,234,0.8) 0%, rgba(0,198,251,0.6) 100%);
    background-color: rgba(77,157,235,0.9),;
}

#div-main{
    display: flex;
    flex-direction: column;
     
    width: 55%;
    height: 100vh;

    /* background-color: aqua; */
}

#div-logo{
    width: 100%;
    height: 15%;

    /* background-color: blue; */

}
#logo-bink{
    display: flex;
    width: 90px;
    border-radius: 10px;
    
    position: relative;
    margin: auto;
}

#bink{
    position: relative;
    left: 402px;
    top: 2px;
    width: 10%;
    height: 25px;
    padding: 5px;
    box-shadow: 1px 1px px black;

    background-color: whitesmoke;
    -webkit-text-stroke: solid rgba(61,42,201,0.06);
    color: #4d9deb;
    
    border-radius:5px;
    border: none;
    
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: center;
}

#div-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 85%;

    /* background-color: red; */
}

#div-center{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 65%;
    height: 60%;
    margin: auto;
    padding: 60px 20px;

    /* background-color: blueviolet; */
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: aqua; */
    width: 80%;
    height: 30%;
    margin: 0px;
    padding: 10px;
}
input{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 50px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid rgba(89,173,255,0.7);
    background-color: white;
}
#or{
    color: rgba(0, 0, 0, 0.234);
    margin: 3px;
}
#line{
    display: flex;
    flex-direction: row;

    align-items: center;
    margin: auto;
}

label{
    border: 1px solid rgba(5, 5, 5, 0.14);
    width: 50%;
}