@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image: linear-gradient(to right aquamarine, rgb(81, 81, 218));
    background-color: rgb(60, 227, 227);
}

main{
    background-color:rgb(0, 170, 255);
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 15px 15px 30px rgb(27, 31, 29);
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 22, 22);
}

p{
    color: bisque;
    text-align: justify;
}